*{
  margin: 15px;
}
h2{
  font-family: 'Cutive Mono', monospace;;
  margin: 15px;
}

hr{
  width: 89px;
  margin: 15px;
  color: #000;
  background-color: #000;
  height: 3px;
}

h6{
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  text-shadow: 2px 2px 2px #000;
  text-align: right;
  margin: 170px 10px;
  color: white;
}

div{
  width: 200px;
  height: 200px;
  float: left;
  margin: 15px;
}

div:hover{
  cursor: pointer;
  filter:brightness(0.8);

}

.coder1{
  background-image:url("../assets/images/Adalid-Garcia.JPG");
}

.coder2{
  background-image:url("../assets/images/Carolina-Barrios.JPG");
}

.coder3{
  background-image: url("../assets/images/Evelyn-Cantor.JPG");
}

.coder4{
  clear: left;
  background-image: url("../assets/images/Jacqueline-Baez.JPG");
}

.coder5{
  background-image: url("../assets/images/Norma-Pacheco.JPG");
}

.coder6{
    background-image: url("../assets/images/Rosaura-Rendon.JPG");
}
